@import './base.sass'

.menu-container
    @include flex(95%, 10%, row)
    justify-content: flex-end
    align-items: center
    position: fixed

    padding-right: 5%
    
    z-index: 10
    user-select: none

    font-size: 16px
    background: rgba(0,2,27,0.8)
    backdrop-filter: blur(2px)
    transition: 1s

.home
    height: 15%
    background: none

@mixin active()
    box-shadow: 0px 0px 5px #141414
    border-radius: 20px

    background: $niceBlue
    color: white

    &::before
        @include pseudoElement(30%, 100%)

        background: linear-gradient(to right,rgba(255,255,255,0), rgba(255,255,255,0.4))
        transform: skewX(45deg)
        z-index: 2

        animation: 2s shine forwards
.active
    @include active()

.link
    @include grid(120px, 40px)
    position: relative
    margin: 0 5px

    transition: 1s

    overflow: hidden
    

    .text
        text-decoration: none
        color: white

    &:hover
        @include active()
        cursor: pointer

@keyframes shine
    0%
        left: -50%
    100%
        left: 60%

@media screen and (max-width: 980px)
    .menu-container
        height: 8vh
        position: relative
        font-size: 12px